*{
    box-sizing: border-box;
}
body{
    background-color: rgb(205, 206, 223);
}
main{
    background-color: rgb(243, 241, 239);
    text-align: center;
    border: 1px solid;
    padding: 70px;
    margin: 150px 300px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: rgb(98, 31, 142);
}